* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "VT323", monospace;
  background-color: #111111;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-container {
  background-color: #2c2c2c;
  max-width: 600px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 12px;
  text-align: center;
}

#game-container .heading {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 15px;
  font-family: "VT323", monospace;
  background-color: transparent;
  border: transparent;
  color: white;
  cursor: pointer;
}

#game-container #status {
  color: #00bfff;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 15px;
}

#game-container #game-board {
  height: 400px;
  border: 1px solid #00bfff;
  border-radius: 12px;
  position: relative;
}

#game-container #game-board #secret-btn {
  font-weight: 800;
  font-size: 16px;
  width: 80px;
  height: 80px;
  color: #2c2c2c;
  background-color: #00bfff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: left 0.15s ease-in-out, top 0.15s ease-in-out;
  font-family: "VT323", monospace;
  letter-spacing: 3px;
  position: absolute;
}
